@import url('https://fonts.googleapis.com/css2?family=Arapey&family=Montserrat:wght@100;200;300;400;500;600;700&family=Oswald:wght@200;400;600&display=swap');


.primary-text {
    color: #C4B139;
}

.second-text {
    color: #3A4F24;
}

.primary-bg {
    background-color: #fefefe;
}

.secondary-bg {
    background-color: #000;
}

.rounded-full {
    border-radius: 100%;
}

#wrapper {
    overflow-x: hidden;
    background: #e7e7e7;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: .9375rem .625rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

#menu-toggle {
    cursor: pointer;
}

.list-group-item {
    border: none;
    padding: 20px 30px;
}

.list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
    margin-left: 0;
    }

    #page-content-wrapper {
    min-width: 0;
    width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
    }
}




/* #about {
    background-color: #b5d19a76;
} */


/*========== NAVBAR SECTION ==========*/

.katanungan {
    color: #C4B139;
    font-family: 'Arapey', sans-serif;
    font-style: italic;
}

.btn {
    outline: solid 1px #3A4F24;
}

.btn:hover {
    color: #fff;
    background-color: #3A4F24;
}

.sign-up {
    outline: solid 1px #C4B139;
}

.sign-up:hover {
    background-color: #C4B139;
    outline: none;
}

    /*========== TABLE SECTION ==========*/

    

    /*========== FOOTER SECTION ==========*/
#footer {
    background-color: black;
    color: #fff;
    padding: 3.8%;
    font-size: 12px;
}

.footer-text {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 9px;
    text-transform: uppercase;
}

.nav-item a:hover {
    color: #C4B139;
    transition: 0.3s;
}

.copyright {
    margin-bottom: -25px;
    text-align: center;
}