@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Inter:wght@300;400&family=Jost:wght@200&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@400;500;600;700&family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@100;200;300;400;500;600;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    background: transparent;
    padding: 0 5px 0 5px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.row {
    width: 900px;
    height: 500px;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text p {
    color: #D9BD2D;
    font-size: 1.125rem;
    font-weight: 700;
}

header {
    color: #1A8B93;
}

.katanungan {
    color: #D9BD2D;
}

.katanungan1 {
    color: #1A8B93;
}

.side-image {
    position: relative;
}

img {
    position: absolute;
    top: 30px;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.form-label {
    font-weight: 700;
    font-size: 9px;
    margin-left: 5px;
}

.form-control {
    width: 360px;
    height: 45px;
}

input[type="text"] {
    font-size: 12px;
}

.input-box {
    width: 330px;
    box-sizing: border-box;
}

.input-box header {
    font-weight: 700;
    text-align: center;
    margin-bottom: 45px;
}

.input-field {
    display: flex;
    flex-direction: column;
    position: relative;
}

.submit {
    outline: none;
    border: none;
    height: 45px;
    width: 330px;
    border-radius: 5px;
    transition: .5s;
    font-size: 14px;
    color: #fefefe;
    background-color: #1a8b93a9;
}

.submit:hover {
    background: #1A8B93;
    color: #fefefe;
}

.rememberforget {
    font-size: 10px;
    margin-bottom: 35px;
}

.forget a {
    text-decoration: none;
    font-size: 13px;
    color: #3A4F24;
}

.forget a:hover {
    color: #D9BD2D;
    transition: .3s;
}

.alert {
    z-index: 5;
    opacity: .8;
}


@media only screen and (max-width: 768px) {
    .side-image {
        border-radius: 10px 10px 0 0;
        display: none;
    }

    .text {
        position: absolute;
        top: 60%;
        text-align: center;
    }

    .text p {
        font-size: .9375rem;
    }

    .row {
        max-width: 400px;
        width: 100%;
        height: 550px;
    }
}